:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Releway', sans-serif;

    /* test colors*/
    --accent-cl: #2196F3;
    --main-txt-cl: #212121;
    --secondary-txt-cl:#757575;

    /* bacground colors*/
    --main-bg-cl: #FFFFFF;
    --secondaty-bg-cl: #F5F4FA;
    --dark-bg-cl: #2F303A;
}

body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--main-txt-cl);
}

.link {
    text-decoration: none;
}

.btn {
    font-family: inherit;
}

/*
=====================
Header section
=====================
*/
.header {
    background-color: #FFFFFF;
}

.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    letter-spacing: 0.03em;
    
    color: var(--accent-cl);
}

.accent {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    letter-spacing: 0.03em;
    
    color: #000000;
}

.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    color: var(--main-txt-cl);
}

.header-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #757575;
}