/* цвет основного текста #212121; */
/* вторичный цвет текста #757575; */
/* белый цвет #FFFFFF;*/
/* акцент #2196F3; */
/* вторичный цвет фона #F5F4FA; */
/* темный цвт фона #2F303A; */

:root {
    /* test colors */
    --accent-cl: #2196F3;
    --main-txt-cl: #757575;
    --secondary-cl: #212121;
    --wigte-cl: #FFFFFF;
    /* bacground colors */
    --main-bg-cl: #FFFFFF;
    --secondary-bg-cl: #F5F4FA;
    --dark-bg-cl: #2F303A;
}

body {
    background-color: #ffffff;
    color: #757575;
}

ul {
    list-style: none;
}

/* header Шапка */

.logo {
    color: var(--accent-cl);
}

.logo-header {
    color: #000000;
}

/* навигация */

.site-nav .link {
    color: var(--secondary-cl);
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-cl);
}   

/* почта телефон */

.contact-link {
    color: var(--main-txt-cl);
}

.contact-link:hover, 
.contact-link:focus {
    color: var(--accent-cl);
}

/* секция герой */

.hero-section {
    background-color: var(--dark-bg-cl);
    color: var(--wigte-cl);
}

.hero-btn {
    color: var(--wigte-cl);
    background-color: var(--accent-cl);
}

/* секция особенности */



