/* цвет основного текста #212121; */
/* вторичный цвет текста #757575; */
/* белый цвет #FFFFFF;*/
/* акцент #2196F3; */
/* вторичный цвет фона #F5F4FA; */
/* темный цвт фона #2F303A; */

:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    /* test colors */
    --accent-cl: #2196F3;
    --main-txt-cl: #757575;
    --secondary-cl: #212121;
    --wigte-cl: #FFFFFF;
    /* bacground colors */
    --main-bg-cl: #FFFFFF;
    --secondary-bg-cl: #F5F4FA;
    --dark-bg-cl: #2F303A;
    --btn-hover-cl: #188CE8;
}

body {
    font-family: var(--main-font);
    background-color: #ffffff;
    color: #757575;
}

ul {
    list-style: none;
}

/* header Шапка */

.link,
.contact-link {
    text-decoration: none;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    letter-spacing: 0.03em;
   
    color: var(--accent-cl);
    text-decoration: none;
}

.logo-header {
    color: #000000;
}

.hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--wigte-cl);
}

/* навигация */

.site-nav .link {
    text-decoration: none;
    color: var(--secondary-cl);
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-cl);
}   

/* почта телефон */

.contact-link {
    color: var(--main-txt-cl);
}

.contact-link:hover, 
.contact-link:focus {
    color: var(--accent-cl);
}

/* секция герой */

.hero-section {
    background-color: var(--dark-bg-cl);
    color: var(--wigte-cl);
}

.hero-btn {
    color: var(--wigte-cl);
    background-color: var(--accent-cl);
}

.hero-btn:hover {
    background-color: var(--btn-hover-cl);
}

/* секция особенности */

/* секция чем занимаемся */

/* ссекция наша команда */
.team {
    background-color: var(--secondary-bg-cl);
}

/* подвал */
.footer {
    background-color: var(--dark-bg-cl);
}

.logo-footer {
    color: var(--wigte-cl);
}

.address .link-map {
    color: #ffffff;
}

.address .link {
    color: #ffffff;
}

